extends layout

block content
  div.container
    div.row
      div.panel.panel-default.auth-form
        div.panel-heading Sign in
        div.panel-body
          form.block-panel.center-with-margin(action='/users/login', method='post')
            div.form-group
              input.form-control.credentials(type="text", placeholder="Username", required="" autofocus="", name='username')
            div.form-group
              input.form-control.credentials(type="password", placeholder="Password", required="", name='password')
            div.form-group
              label.checkbox.text-center
                input(type="checkbox", name="rememberme") 
                span Remember me
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Login
            if message
              p.text-center.text-danger #{message}
            a(href='/users/register') Create new account
